
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <form method="post" action="/Dict/DeleteSave">
        <input type="hidden" name="Id" value="@ViewBag.Id" />
        <table>
            <tr>
                <td><input type="submit" value="Удалить запись с Id = @ViewBag.Id" /> </td>
                <td></td>
            </tr>
        </table>
    </form>
</body>
</html>
